* {
  margin: 0;
}

body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  max-width: 1440px;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-color: #ff6060;
  --text-color: #FFFFFF;
  --background-color: #F6F6F6;
  --font-size-xxxsmall: 0.6rem;
  --font-size-xxsmall: 0.7rem;
  --font-size-xsmall: 0.8rem;
  --font-size-small: 0.9rem;
  --font-size-1: 1rem;
  --font-size-1_1: 1.1rem;
  --font-size-1_2: 1.5rem;
  --font-size-large: 2.25rem;
  --font-size-xlarge: 3rem;
  --font-size-xxlarge: 6rem;
  --font-size-xxxlarge: 11rem;
  --font-size-very-large: 18rem;
}

.main-container {
  padding: 3rem 5rem;
}

.header {
  display: flex;
  margin-bottom: 3rem;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-list {
  display: flex;
  padding: 0;
  list-style-type: none;
  gap: 3rem;
}

.header__nav-link {
  font-size: var(--font-size-regular1_2);
  font-weight: 500;
  color: var(--main-color);
  text-decoration: none;
}

.header__nav-link.active {
  text-decoration: underline;
}

.banner {
  background-size: cover;
  background-position: center;
  height: 35vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  position: relative;
  margin-bottom: 3rem;
}

.banner.home {
  background-image: url("./assets/img/IMG.home.png");  
}

.banner.about {
  background-image: url("./assets/img/IMG.about.png");
}

.banner.home::before, .banner.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 25px;
}

.banner__title {
  color: var(--text-color);
  font-weight: 500;
  font-size: var(--font-size-xlarge);
  position: relative;
  z-index: 2;
  padding-left: 1rem;
}

.banner__title .break {
  display: inline;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  background-color: var(--background-color);
  padding: 3rem;
  border-radius: 25px;
  justify-content: flex-start;
}
 
/* this property will make the link transparent */
.card__link {
  display: contents;
}

.card {
  flex: 1 0 30%;
  position: relative;
  max-width: 30%;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  aspect-ratio: 1/1;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0) 60%, #666666);
  z-index: 0;
  border-radius: 10px;
}

.card__cover {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  object-fit: cover;
}

.card__title {
  width: 50%;
  position: absolute;
  z-index: 1;
  left: 5%;
  bottom: 5%;
  color: var(--text-color);
  font-size: var(--font-size-1);
  font-weight: 500;
}

.collapses-container {
  padding: 0 11rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.collapse {
  display: grid;
  grid-template-columns: 1fr auto; 
  grid-template-rows: 50px 0fr; 
  transition: grid-template-rows 0.8s ease;
}

.collapse.open {
  grid-template-rows: 50px 1fr;
}

.collapse__header {
  grid-column: 1 / -1; 
  grid-row: 1; 
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
}

.collapse__title {
  color: var(--text-color);
  font-size: var(--font-size-1_2);
  font-weight: 500;
}

.collapse__chevron {
  cursor: pointer;
  color: var(--text-color);
  font-size: var(--font-size-1_2);
  transition: transform 0.6s ease;
}

.collapse__chevron--rotate {
  transform: rotate(-180deg);
}

.collapse__content {
  grid-column: 1 / -1;
  grid-row: 2;
  display: grid;
  font-size: var(--font-size-1_1);
  font-weight: 400;
  background-color: var(--background-color);
  color: var(--main-color);
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
  height: 0;
  transition: all 0.6s ease-in-out;
}

.collapse__content.open {
  height: 100%;
}

.collapse__content.close {
  height: 0;
}

.collapse__text {
  margin: -1rem 1rem 1rem 1rem;
  transition: all 0.6s ease-in-out;
}

.collapse__content.open .collapse__text {
  margin-top: 1rem;
}

.collapse__list {
  list-style-type: none;
  padding: 0;
  padding: 1rem;
}

.carousel {
  position: relative;
  border-radius: 25px;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  margin-bottom: 2rem;
}

.carousel__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  box-sizing: border-box;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  padding: 1rem;
  margin: 0;
  background: none;
  border: none;
}

.carousel__button--prev {
  left: 0;
}

.carousel__button--next {
  right: 0;
}

.carousel__chevron {
  color: var(--text-color);
  font-size: var(--font-size-xlarge);
}

.carousel__number {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  font-size: var(--font-size-1_1);
  font-weight: 500;
  color: var(--text-color);
  padding: 1rem;
}

.accommodation__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.accommodation__info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: var(--main-color);
  gap: 1rem;
}

.accommodation__details {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.accommodation__title {
  font-weight: 500;
  font-size: var(--font-size-large);
}

.accommodation__location {
  font-weight: 500;
  font-size: var(--font-size-1_1);
}

.accommodation__tags {
  display: flex;
  gap: 1rem;
}

.accommodation__item {
  color: var(--text-color);
  background-color: var(--main-color);
  padding: 0.2rem 2rem;
  border-radius: 10px;
  font-weight: 500;
  font-size: var(--font-size-small);
  display: flex;
  align-items: center;
}

.host-stars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.host__info {
  display: flex;
  gap: 0.5rem;
}

.host__img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.host__name {
  font-weight: 500;
  font-size: var(--font-size-1_1);
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-end;
  color: var(--main-color);
}

.star-solid {
  color: var(--main-color);
}

.star-empty {
  color: #E3E3E3;
}

.description-equipments {
  display: flex;
  gap: 4rem;
  margin-bottom: 3rem;
}

.description__container, .equipments__container {
  width: 50%;
}

.not-found {
  text-align: center;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-bottom: 6rem;
}

.not-found__title {
  font-size: var(--font-size-very-large);
  font-weight: 700;
}

.not-found__text {
  font-size: var(--font-size-large);
  font-weight: 500;
}

.not-found__link {
  font-size: var(--font-size-1_1);
  font-weight: 500;
  color: var(--main-color);
}

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 209px;
  gap: 2rem;
}

.footer__logo {
  max-width: 122px;
  height: auto;
}

.footer__copyright {
  color: var(--text-color);
  font-size: var(--font-size-1_2);
  font-weight: 500;
}

.footer__copyright .break {
  display: inline;
}

@media screen and (max-width: 767px) {

  .main-container {
    padding: 1.2rem;
  }

  .header {
    margin-bottom: 1.5rem;
  }

  .header__logo {
    width: 40%;
  }

  .header__nav-link {
    font-size: var(--font-size-xxsmall);}

  .header__nav-list {
    gap: 2rem;
  }  

  .banner {
    height: 17vh;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    justify-content: flex-start;
  }  

  .banner.home::before, .banner.about::before {
    border-radius: 10px;
  }

  .banner__title {
    font-size: var(--font-size-1_2);
  }

  .banner__title .break {
    display: block;
  }

  .cards-container {
    padding: 0;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--text-color);
  }

  .card {
    max-width: 100%;
  }

  .card::before {
    aspect-ratio: 2/1.5;
  }

  .card__cover {
    aspect-ratio: 2/1.5;
  }

  .collapses-container {
    padding: 0;
    gap: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .collapse { 
    grid-template-rows: 30px 0fr; 
  }
  
  .collapse.open {
    grid-template-rows: 30px 1fr;
  }

  .collapse__header {
    padding: 0.5rem;
  }

  .collapse__title {
    font-size: var(--font-size-xsmall);
  }

  .collapse__chevron {
    font-size: var(--font-size-1);
  }

  .collapse__content {
    font-size: var(--font-size-xxsmall);
  }

  .carousel {
    border-radius: 10px;
    height: 35vh;
    margin-bottom: 0.5rem;
  }

  .carousel__chevron {
    font-size: var(--font-size-1_2);
  }

  .carousel__number {
    display: none;
  }

  .accommodation__wrapper {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .accommodation__info {
    margin-bottom: 1rem;
  }

  .accommodation__title {
    font-size: var(--font-size-1_1);
  }

  .accommodation__location {
    font-size: var(--font-size-xsmall);
  }

  .accommodation__item {
    font-size: var(--font-size-xxxsmall);
    padding: 0.2rem 1rem;
  }

  .host-stars {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0.5rem;
  }

  .host__info {
    align-items: center;
  }

  .host__name {
    font-size: var(--font-size-xxsmall);
  }

  .host__img {
    width: 32px;
    height: 32px;
  }

  .stars {
    font-size: smaller;
  }

  .description-equipments {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .description__container, .equipments__container {
    width: 100%;
  }

  .not-found__title {
    font-size: var(--font-size-xxlarge);
  }

  .not-found__text {
    font-size: var(--font-size-1_1);
  }

  .not-found__text .break{
    display: block;
  }

  .not-found__link {
    font-size: var(--font-size-xsmall);
  }

  .footer {
    gap: 1rem;
  }

  .footer__copyright {
    font-size: var(--font-size-xxsmall);
  }

  .footer__copyright .break {
    display: block;
  }
}